.places {
    width: 77%;
    margin: 0 auto;
    box-sizing: border-box;
}


@media screen and (max-width: 1024px) {
    .places {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .places {
        width: 94%;
    }
}

@media screen and (max-width: 425px) {
    .places {
        width: 100%;
    }
}