.place__text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 26px 0;
    padding: 0;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .place__text {
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 25px 0;
    }
}