.lead__title {
    max-width: 720px;
    color: white;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    margin: 0 auto;
    padding: 0;
    text-align: center;

}


@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 788px;
        font-size: 40px;
        line-height: 44px;
    }
}