.intro {
    width: 53.9%;
    margin-left: 148px;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 67.4%;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 93.7%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: 90%;
        margin: 0 auto;
    }
}