.place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
}


@media screen and (max-width: 320px) {
    .place__website {
        width: 90%;
    }
}